<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" 
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
					       http://www.springframework.org/schema/context 
					       http://www.springframework.org/schema/context/spring-context-3.1.xsd
						   http://www.springframework.org/schema/aop 
						   http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
					       http://www.springframework.org/schema/tx 
					       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
					       http://www.springframework.org/schema/jee 
					       http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
						   http://www.springframework.org/schema/jdbc 
						   http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd 
					       http://www.springframework.org/schema/mvc
					       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	
	<context:annotation-config />
	<tx:annotation-driven/> 
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
			value="conf/mapper/**Mapper.xml" />
		<property name="configLocation" value="conf/Mybatis-config.xml" />  
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- 创建数据源 -->
	<bean id="ordertraceDs_RW"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="${jdbc.ordertrace.driver}" />
		<property name="url" value="${jdbc.ordertrace.url}" />
		<property name="username" value="${jdbc.ordertrace.username}" />
		<property name="password" value="${jdbc.ordertrace.password}" />
	</bean>
	
	<bean id="dataSource" class="com.dang.rocket.dao.datasource.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">				
				<entry key="ordertraceDs_RW" value-ref="ordertraceDs_RW" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="ordertraceDs_RW" />
	</bean>
	
	<!-- 事务管理器 --> 

	<tx:annotation-driven/>  
	<context:component-scan base-package="com.dang"/> 

    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />          
    </bean>  
</beans>
